* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;

    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);

    z-index: 1;
}

main {

}

footer {
    background: #f5f5f7;
}

header nav {
    margin: auto;
    padding: 0 22px;

    max-width: 980px;
}

header nav ul {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
    margin: 0;
    padding: 0;

    list-style-type: none;
    color: #ffffff;

    height: 44px;
}

main > section:first-of-type {
    background-color: #E34140;
    color: white;
    
    padding: 1em;
    
    text-align: center;
}

main > section:first-of-type p {
    font-size: 14px;
}

main > section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    color: white;

    text-align: center;

    margin-bottom: 6px;
    padding: 2em 2em 0 2em;

    position: relative;
    overflow: hidden;
}

main > section:nth-of-type(2) p,h1{
    max-width: 250px;
}

main > section:nth-of-type(2) figure {
    margin: 2em 0;
}

main > section:nth-of-type(2) figure img {
    width: 100%;
}

main > section:nth-of-type(2) section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main > section:nth-of-type(2) section img {
    height: 112px;
}

main > section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fbfbfd;
    color: black;

    text-align: center;

    margin: 6px 0;
    padding: 2em 2em 0 2em;

    position: relative;
}

main > section:nth-of-type(3) img {
    width: 100%;
}

main > section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #35283C;
    color: white;

    text-align: center;

    margin: 6px 0;
    padding: 0 2em;

    position: relative;
}

main > section:nth-of-type(4) img{
    width: 200px;
}

main > section:nth-of-type(4) > img:first-of-type {
    order: 1;
    padding-bottom: 1em;
}

main > section:nth-of-type(4) > h2 {
    order: 2;
}

main > section:nth-of-type(4) > p {
    order: 3;
}

main > section:nth-of-type(4) > a {
    order: 4;
}

main > section:nth-of-type(4) > img:last-of-type {
    order: 5;
    padding-top: 1em;
}

main > section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #EEF0FF;
    color: black;

    text-align: center;

    margin: 6px 0;
    padding: 2em;
}

main > section:nth-of-type(5) img {
    width: 100%;
}

main > section:nth-of-type(6) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #FBFBFD;
    color: black;

    text-align: center;

    margin: 6px 0;
    padding: 0 2em 2em 2em;
}

main > section:nth-of-type(6) img {
    width: 100%;
}

main > section:nth-of-type(6) > img {
    order: 1;
}

main > section:nth-of-type(6) > h2 {
    order: 2;
}

main > section:nth-of-type(6) > p {
    order: 3;
}

main > section:nth-of-type(6) > a {
    order: 4;
}

main section p,h1,h2 {
    margin: 0;
}

main section a {
    color: #2997ff;
    text-decoration: none;
}

main section h1,h2 {
    font-size: 32px;
}

main section p {
    font-size: 19px;
}
