@import "fonts.css";

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'SF Pro Text';
}

header {
    position: sticky;
    top: 0;

    z-index: 2;
}

footer {
    background: #f5f5f7;
    color: #6e6e73;
    padding: 0 1em;
    font-weight: 100;
    font-size: 12px;
    margin: 6px 0 0 0;
}

header nav {
    position: relative;
}

header nav section:first-of-type {
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);

    height: 3em;
    width: 100%;
}

header nav section:first-of-type ul {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
    color: #ffffff;

    margin: 0;
    padding: 0 2em;
}

header nav section:last-of-type {
    margin: -3em 0 0 0;
    padding: 3em 0 1em 0;
    background-color: black;
    display: none;
}

header nav section:last-of-type li:first-of-type,
header nav section:last-of-type li:nth-of-type(12),
header nav section:last-of-type li:last-of-type {
    display: none;
}

header nav .menuOpen {
    display: block !important;
}

header nav section:last-of-type input {
    height: 3em;
    width: calc(100% - 2em);
    background-color: #1D1D1F;
    border-radius: .5em;
    border: none;
    margin: 0 1em .5em 1em;
    padding: 0 1em;
}

header nav section:last-of-type ul {
    list-style: none;
    margin: .5em 0 0 0;
    padding: .5em 2.5em 0 2.5em;
    border-top: 1px solid #424245;
}

header nav section:last-of-type ul li {
    padding: 1em 0;
}

header nav section:last-of-type ul li:not(:last-of-type) {
    border-bottom: 1px solid #424245;
}

header nav section:last-of-type ul li a {
    color: #F5F5F7;
    opacity: .8;
    text-decoration: none;
    font-weight: 100;
}

/* Start: Index */
#index main > section:first-of-type {
    background-color: #E34140;
    color: white;
    
    padding: 1em;
    
    text-align: center;
}

#index main > section:first-of-type p,
#index main > section:first-of-type a {
    font-size: 14px;
}

#index main > section:not(:first-of-type) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#index main > section:nth-of-type(2) {
    background-color: #000000;
    color: white;

    margin-bottom: 6px;
    padding: 2em 2em 0 2em;

    position: relative;
    overflow: hidden;
}

#index main > section:nth-of-type(2) p, h1{
    max-width: 350px;
}

#index main > section:nth-of-type(2) figure {
    margin: 2em 0;
}

#index main > section:nth-of-type(2) figure img {
    width: 100%;
}

#index main > section:nth-of-type(2) section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#index main > section:nth-of-type(2) section img {
    height: 112px;
}

#index main > section:nth-of-type(3) {
    background-color: #fbfbfd;
    color: black;

    margin: 6px 0;
    padding: 2em 2em 0 2em;

    position: relative;
}

#index main > section:nth-of-type(3) section {
    display: flex;
    gap: 1em;
}

#index main > section:nth-of-type(3) img {
    width: 100%;
}

#index main > section:nth-of-type(4) {
    background-color: #35283C;
    color: white;

    margin: 6px 0;
    padding: 0 2em;

    position: relative;
}

#index main > section:nth-of-type(4) img{
    width: 200px;
}

#index main > section:nth-of-type(4) > img:first-of-type {
    order: 1;
    padding-bottom: 1em;
}

#index main > section:nth-of-type(4) > h2 {
    order: 2;
}

#index main > section:nth-of-type(4) > p {
    order: 3;
}

#index main > section:nth-of-type(4) > section {
    order: 4;
    display: flex;
    gap: 1em;
}

#index main > section:nth-of-type(4) > img:last-of-type {
    order: 5;
    padding-top: 1em;
}

#index main > section:nth-of-type(5) {
    background-color: #EEF0FF;
    color: black;

    margin: 6px 0;
    padding: 2em;
}

#index main > section:nth-of-type(5) img {
    width: 100%;
}

#index main > section:nth-of-type(6) {    
    background-color: #FBFBFD;
    color: black;

    margin: 6px 0;
    padding: 0 2em 2em 2em;
}

#index main > section:nth-of-type(6) img {
    width: 100%;
}

#index main > section:nth-of-type(6) > img {
    order: 1;
}

#index main > section:nth-of-type(6) > h2 {
    order: 2;
}

#index main > section:nth-of-type(6) > p {
    order: 3;
}

#index main > section:nth-of-type(6) > section {
    order: 4;
    display: flex;
    gap: 1em;
}

#index main > section:last-of-type > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: 100%;
}

#index main > section:last-of-type > section:first-of-type {
    background-color: #F5F5F7;
    color: black;

    margin: 6px 0 0 0;
    padding: 2em 2em 0 2em;
}

#index main > section:last-of-type > section:first-of-type p:first-of-type {
    order: 1;
}

#index main > section:last-of-type > section:first-of-type h2 {
    order: 2;
    display: flex;
}

#index main > section:last-of-type > section:first-of-type p:nth-of-type(2) {
    order: 3;
}

#index main > section:last-of-type > section:first-of-type p:last-of-type {
    order: 4;
}

#index main > section:last-of-type > section:first-of-type section {
    order: 5;
    display: flex;
    gap: 1em;
}

#index main > section:last-of-type > section:first-of-type img {
    order: 6;
    width: 100%;
}

#index main > section:last-of-type > section:nth-of-type(2) {
    background-color: #F5F5F7;
    color: black;

    margin: 6px 0 0 0;
    padding: 2em 2em 0 2em;
}

#index main > section:last-of-type > section:nth-of-type(2) section {
    display: flex;
    gap: 1em;
}

#index main > section:last-of-type > section:nth-of-type(2) img {
    width: 100%;
}

#index main > section:last-of-type > section:nth-of-type(3) {
    background-color: #FBFBFD;
    color: black;

    margin: 6px 0 0 0;
    padding: 2em 2em 0 2em;
}

#index main > section:last-of-type > section:nth-of-type(3) > img:first-of-type {
    order: 1;
    max-width: 8em;
}

#index main > section:last-of-type > section:nth-of-type(3) > h2 {
    order: 2;
    display: none;
}

#index main > section:last-of-type > section:nth-of-type(3) > p {
    order: 3;
}

#index main > section:last-of-type > section:nth-of-type(3) > section {
    order: 4;
    display: flex;
    gap: 1em;
}

#index main > section:last-of-type > section:nth-of-type(3) > img:last-of-type {
    order: 5;
    width: 100%;
    max-width: 500px;
}

#index main > section:last-of-type > section:last-of-type {
    background-image: url("../assets/images/section-9-1.jpg");
    background-size: 100%;
    color: white;

    margin: 6px 0 0 0;
    padding: 0 2em 2em 2em;
}

#index main > section:last-of-type > section:last-of-type h2 {
    display: flex;
    margin-top: 8em;
}

#index main > section:last-of-type > section:last-of-type section {
    display: flex;
    gap: 1em;
}

#index main > section:last-of-type > section:last-of-type section a {
    color: white;
}
/* End: Index */

/* Start: MacBook Pro */
#macbook-pro main > section:not(:nth-of-type(2)) {
    background-color: white;
}

#macbook-pro main > section:first-of-type {

}

#macbook-pro main > section:nth-of-type(2) {
    background-color: black;
}

#macbook-pro main > section:nth-of-type(3) {

}

#macbook-pro main > section:nth-of-type(4) {

}

#macbook-pro main > section:nth-of-type(5) {

}

#macbook-pro main > section:nth-of-type(6) {

}

#macbook-pro main > section:nth-of-type(7) {

}

#macbook-pro main > section:last-of-type {

}
/* End: MacBook Pro */

main section p, h1, h2 {
    margin: 0;
}

main section a {
    color: #2997ff;
    text-decoration: none;
    font-weight: 100;
    font-size: 19px;
}
main section a:hover {
    text-decoration: underline;
}

main section h1, h2 {
    font-size: 32px;
    font-weight: 400;
}

main section p {
    font-size: 19px;
    font-weight: 100;
}

footer > section > nav section {
    padding: 1em 0;
    border-bottom: 1px solid #d2d2d7;
}

footer > section > section ol {
    padding-left: 1em;
}

footer > section > section {
    border-bottom: 1px solid #d2d2d7;
    padding: 1em 0;
}

footer > section > nav section details {
    transition: 1s;
}

footer > section > nav section details summary {
    display: flex;
}

footer > section > nav section details summary p {
    margin: 0;
}

footer > section > nav section details summary p:last-of-type {
    margin-left: auto;
    padding-right: .5em;
}

footer > section > nav section details summary{
    list-style: none;
}

footer > section > nav section details ul {
    list-style: none;
    padding: 1em 0;
    margin: 0;
}

footer > section > nav section details ul li {
    padding: 6px 14px;
}

footer > section > nav section details ul li a {
    color: #424245;
    text-decoration: none;
}

/* https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal */
footer > section > nav section details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-top: -20px}
    100%  {opacity: 1; margin-top: 0px}
}
/* ************************************************************************************************************* */