/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

main {
	display: flex;
	justify-content: center;
}

div {
	text-align: center;
}

h1, p {
	font-family: Verdana;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}

